*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(222, 222, 222);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:100px;
    background-color:rgba(16, 15, 39, 0.927);
    box-shadow: 0px 0px 10px 10px rgb(150, 150, 150);
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    position: relative;
}
nav li a{
    text-decoration: none;
    color: antiquewhite;
    padding-right: 15px;
    border-left: 1px solid red;
}
li a:hover{
    color: tomato;
}
.logo{
    width: 80px;
}
.titulo{
    color: antiquewhite;
    padding-left: 10px;
    font-size: 1.5rem;
}

/*Contenedor de las cartas con grid*/

.conteiner{
    margin-top: 70px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
   background-color: white;
   display: grid;  
   align-items: center;
   text-align: center;
   width: 230px;
   grid-template-columns: 1fr;
   grid-template-rows: 3fr 1fr 2fr;
   grid-template-areas: "img"
                        "titulo"
                        "texto";
   border: 1px solid rgba(0, 0, 0, 0.274);
   border-radius: 15px;
   box-shadow: 0px 0px 10px 5px rgb(150, 150, 150);
   margin-bottom: 20px;
}

.card img{
    width: 150px;
    grid-area: img;
}
.card h3{
    grid-area: titulo;
}
.card p{
  grid-area: texto;
}
.card:hover{
    box-shadow: 3px 3px 20px 5px rgb(150, 150, 150);
}
/*seccion destacados*/
.destacado{
    width: 80vw;
    margin: 50px;
    display: flex;
    align-items: center;
}
.destacado img{
    border-radius: 15px;
    width: 20vw;
    margin: 30px;
    box-shadow: 0px 0px 10px 5px rgb(150, 150, 150);
}
.texto_450{
    margin-left: 30px;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 0px 10px 5px rgb(150, 150, 150);
    background-color: rgba(68, 115, 28, 0.058);
}
    
/*footer*/

.footer_div{
    margin-top: 30px;
    display: flex;
    background-color: rgba(100, 113, 119, 0.111);
    padding: 15px;
    justify-content: space-around;
    
}
.footer_div ul{
    margin-left: 10px;
    width: 200px;
}
.footer_div p{
    width:50%;
    display :flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 2px 10px;
    color:gray
}
.footer_iconos{
    width:300px;
    display:flex;
    justify-content: space-between;
}
.footer_iconos img{
    width: 60px;    
    height: 50px;
    margin: 10px;
    border-radius: 15px;
}
/*pestaña nosotros*/

.main_section{
    margin: 1rem;
    height:40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo_grande{
    width:300px;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 5px rgb(150, 150, 150);
}
.main_div{
    padding: 5rem;;
    height:30rem;
    width:50rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.main_div h1{
    margin:25px 0;
}
.main_div p{
    padding: 30px;
    box-shadow: 0px 0px 10px 5px rgb(150, 150, 150);
    background-color: rgba(68, 115, 28, 0.058);
}
/*pestaña consultas*/
.consulta{
    margin: 100px 150px;
    text-align: center;
}
.consulta p{
    margin-top: 50px;
    border-top: 1px solid rgba(130, 134, 165, 0.47);
    border-bottom: 1px solid rgba(130, 134, 165, 0.47);
}

.menu{
    display: none;
}

/* pestaña contacto*/

.form{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form fieldset{
    text-align: center;
    width: 50vw;
}


/* activa menu oculto*/
.navbar:hover .menu{
    
    display: block;
    position: absolute;
    text-align: center;
    left: -20px;
    top: 15px;
    background-color:rgba(16, 15, 39, 0.927);
}
.menu:hover{
    display: block;
    
}

    .menu a{
    color:antiquewhite;
}
/* pestaña ubicación*/
.ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ubicacion h3{
    margin: 35px 0px;
}

@media screen and (max-width:426px){
    .oculta_menu{
        display: none;
    }
    .navbar{
        right: 5px;
        border-bottom: 1px double rgb(62, 66, 64);
    }
    nav li a{
        padding-right: 0;
        border: none;
    }

    .titulo{
        font-size: .7rem;
    }
    .destacado {
        /* width: 100vw; */
        margin: 50px;
        display: flex;
        align-items: center;
        flex-direction:column-reverse;
    }
    .texto_450 {
        margin-left: 0px;
    }
    .destacado img {
        width: 80vw;
    }
    .footer_div {
    display: block;
    }
    .footer_div p{
        width: 100%;
        }
/* paguina de nosotros */
    .logo_grande{
        display:none;
    }
    .main_div{
        font-size: 1rem;
        padding: 1rem;
    }
     /* consulta*/
     .consulta{
        margin: 80px 30px;
    }
}
@media screen and (min-width:426px){
    .titulo{
        font-size: 1rem;
    }
    .menu li{
        display: none;
    }
    .destacado {
        margin: 50px;
        display: flex;
        align-items: center;
        flex-direction:column-reverse;
    }
    .destacado img {
        width: 40vw;
    }
   

}
@media screen and (min-width:1024px){
    .titulo{
        font-size: 1.5rem;
    }
    .menu{
        display: none;
    }
    .destacado {
        /* width: 100vw; */
        margin: 50px;
        display: flex;
        align-items: center;
        flex-direction:row;
    }
}