/* hero solo en contacto por ahora*/
.hero img{
      width:inherit;
    }

.hero-image {
  background-image: url("../assets/img/fondo-computadores.jpg");
  /*background-color: #cccccc;*/
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

}
  