/*pestaña consultas*/
.consulta{
    margin: 40px 150px;
    text-align: center;
    & h2{
        margin-top: 30px;
    }
    & p{
        margin-top: 40px;
        border-top: 1px solid rgba(130, 134, 165, 0.47);
        border-bottom: 1px solid rgba(130, 134, 165, 0.47);
    }
}
.hero-consulta{
    background-image: url("../assets/img/redes-sociales.jpg");
    /*background-color: #cccccc;*/
    /*height: 500px;*/
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
  
    
  }
