/*Contenedor de las cartas con grid*/
.fuente{
    font-family: 'Roboto Slab', serif;
    &__fondo{
        background-color: #100f27;}
    }
.fuente-Amaranth{
    font-family: 'Amaranth', cursive;
}
.card{
    box-shadow: 0px 0px 10px 5px rgb(150, 150, 150);
    height: 20rem;
    font-family: 'Roboto Slab', serif;
    & img {
       height: 130px;
    }
    &:hover{
        transform: scale(1.1);
        transition-duration: 0.6s;
    }
   
}
  
/*seccion destacados imagenes*/
.img_450{
    width: -webkit-fill-available;
    border-radius: 25px;
}
     