/*pestaña nosotros*/

.main_section{
    margin: 0rem;
    display: flex;
    justify-content: map-get($alineado,around);
    align-items: center;
    
    .main_div{
        padding: 3rem;;
        width:50rem;
        display:flex;
        flex-direction: column;
        justify-content: map-get($alineado,evenly);
        
        & h1{
            margin:25px 0;
            box-shadow: 0px 0px 10px 5px #969696;
            width:fit-content;
        }
        & p{
            padding: 30px;
            box-shadow: 0px 0px 10px 5px rgb(150, 150, 150);
            background-color: rgba(68, 115, 28, 0.058);
        }
    }
}
.logo_grande{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content:  map-get($alineado,between);
    box-shadow: 0px 0px 10px 5px #969696;
}

.hero-image {
    background-image: url("../assets/img/fondo-computadores.jpg");
    height: 600px;
    @include bg-image-hero;
  }