/* pestaña ubicación*/
.ubicacion{
    height: auto;
  @include bg-image-hero;

    display: flex;
    align-items: center;
    justify-content:center;
    & h3{
        margin: 35px 0px;
    }
}
.mapa {
    padding: 5px;
    border: #100f27ed solid 1px;
}
